body {
  height: 100%;
}

header {
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 2rem;
}

main {
  display: flex;
  margin: 1rem 0 0 0;
}

main select {
  flex: none;
  position: sticky;
  top: 1rem;
  padding: 0.4rem;
  height: calc(100vh - 5rem);
  overflow-y: auto;
}

main option {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-inline-start: 1rem;
}

summary {
  cursor: pointer;
  user-select: none;
}

pre {
  margin: 0 0 0.4rem 1rem;
}

table {
  border-collapse: collapse;
  margin: 0 0 0 1rem;
}

td,
th {
  border: 1px solid black;
  padding: 0.2rem;
}

td:not(:first-child) {
  font-family: monospace;
}

dialog > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

dialog input {
  width: 90%;
}

dialog ul button {
  margin-right: 0.4rem;
}

#note {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.4rem;
  background-color: lightgray;
}
