body {
  display: flex;
  margin: 1em;
  height: calc(100vh - 2em);
}

select {
  min-width: 300px;
  height: 100%;
}

ul {
  list-style: none;
}

summary {
  cursor: pointer;
  user-select: none;
}

pre {
  margin: 0;
}
