body {
  height: 100%;
}

header {
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 2rem;
}

main {
  display: flex;
  margin: 1rem 0 0 0;
}

select {
  flex: none;
  position: sticky;
  top: 1rem;
  padding: 0.4rem;
  height: calc(100vh - 5rem);
  overflow-y: auto;
}

option {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-inline-start: 1rem;
}

summary {
  cursor: pointer;
  user-select: none;
}

pre {
  margin: 0 0 0.4rem 1rem;
}

#note {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.4rem;
  background-color: lightgray;
}
